# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.crash
.terraform.lock.hcl

# Sensitive local overrides (not to be committed)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output
*.plan

# Local logs
*.log

# OS-specific junk
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS folder attributes
__MACOSX/

# Executables / local binaries (just in case)
*.exe
*.out
*.class
*.bin